*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: pink;
    overflow: hidden;
}
canvas{
    background-color: rebeccapurple;
}

#particles-js
{
    height:100%;
    background: white;
}